In [1]:
import pandas as pd

In [3]:
alcohols = pd.read_csv('world_alcohol.csv')
print(alcohols)

   Year       WHO region          Country Beverage Types  Display Value
0  1986  Western Pacific         Viet Nam           Wine           0.00
1  1986         Americas          Uruguay          Other           0.50
2  1985           Africa     Cet d'Ivoire           Wine           1.62
3  1986         Americas         Columbia           Beer           4.27
4  1987         Americas  Saint Kitts and           Beer           1.98

In [6]:
alcohols.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Year</th>
      <th>WHO region</th>
      <th>Country</th>
      <th>Beverage Types</th>
      <th>Display Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1986</td>
      <td>Western Pacific</td>
      <td>Viet Nam</td>
      <td>Wine</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1986</td>
      <td>Americas</td>
      <td>Uruguay</td>
      <td>Other</td>
      <td>0.50</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1985</td>
      <td>Africa</td>
      <td>Cet d'Ivoire</td>
      <td>Wine</td>
      <td>1.62</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1986</td>
      <td>Americas</td>
      <td>Columbia</td>
      <td>Beer</td>
      <td>4.27</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1987</td>
      <td>Americas</td>
      <td>Saint Kitts and</td>
      <td>Beer</td>
      <td>1.98</td>
    </tr>
  </tbody>
</table>
</div>

In [13]:
alcohols.loc[1:4]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Year</th>
      <th>WHO region</th>
      <th>Country</th>
      <th>Beverage Types</th>
      <th>Display Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1986</td>
      <td>Americas</td>
      <td>Uruguay</td>
      <td>Other</td>
      <td>0.50</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1985</td>
      <td>Africa</td>
      <td>Cet d'Ivoire</td>
      <td>Wine</td>
      <td>1.62</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1986</td>
      <td>Americas</td>
      <td>Columbia</td>
      <td>Beer</td>
      <td>4.27</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1987</td>
      <td>Americas</td>
      <td>Saint Kitts and</td>
      <td>Beer</td>
      <td>1.98</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
alcohols['Year']

0    1986
1    1986
2    1985
3    1986
4    1987
Name: Year, dtype: int64

In [12]:
alcohols.Year

0    1986
1    1986
2    1985
3    1986
4    1987
Name: Year, dtype: int64